<div class="videocall-box" cdkDrag>
  
  <div class="videocall-handle" cdkDragHandle  *ngFor="let item of glob.onCallInfo">
    
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    <button mat-icon-button (click)="glob.globVideoChat=false"
            #tooltip="matTooltip"
            matTooltip="Close Window"
            matTooltipPosition="below"
            matTooltipHideDelay="100"
    > 
      <mat-icon>close</mat-icon> 
    </button>  

    <span class="cls-header-title">Video Chat / </span>
    <span class="cls-header-number"><strong>[{{ glob.outgoingNumber }}]</strong></span>
    <span class="cls-header-name"><strong>{{ item.contact_name_full }}</strong></span>
  </div>
    
  <div class="cls-video-content">
    <div class="">
        <video id="remoteVideo" autoplay class="cls-video-remote"></video>
    </div>
    
    <div class="">
      <video id="localVideo" autoplay muted class="cls-video-local"></video>
    </div>

    <div class="cls-cmd-btns">
      <app-caller-buttons></app-caller-buttons>
    </div>
  </div> 

  

</div>