<div>
  <mat-form-field class="cls-cont-phone-number">
      <input matInput
      class="cls-phone-number"  
      name="dtmfTrim" 
      value="{{ glob.globDtmfTrim }}" 
      disabled 
      >
  </mat-form-field>

  <table class="table">
      <tr>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('1')">1</button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('2')" >2
            <span class="cls-letters">ABC</span>
          </button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('3')">3
              <span class="cls-letters">DEF</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('4')" >4
              <span class="cls-letters">GHI</span>
          </button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('5')" >5
              <span class="cls-letters">JKL</span>
          </button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('6')" >6
              <span class="cls-letters">MNO</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('7')" >7
              <span class="cls-letters">PQRS</span>
          </button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('8')" >8
              <span class="cls-letters">TUV</span>
          </button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('9')" >9
              <span class="cls-letters">WXYZ</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('*')" >*</button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('0')" >0</button>
        </td>
        <td>
          <button class="btn cls-btn-dial-pad" (click)="setDtmf('#')" >#</button>
        </td>
      </tr>
        
    </table>
</div>