.cls-img-profile-bkg, 
.cls-img-contacts-bkg {
  
  width: 60px !important;
  height: 60px !important;
  border: #999 solid 1px;
  background-color: #d6ccc1;
  text-align: center !important;
  vertical-align: middle;
  border-radius: 200px 200px 200px 200px !important;
  -moz-border-radius: 200px 200px 200px 200px !important;
  -webkit-border-radius: 200px 200px 200px 200px !important;
}
.cls-img-profile-bkg {
  margin: 0 auto !important;
  
}

.cls-img-profile {
  border: #0073a5 solid 2px;
  width: 60px;
  height: 60px;
  border-radius: 200px 200px 200px 200px !important;
  -moz-border-radius: 200px 200px 200px 200px !important;
  -webkit-border-radius: 200px 200px 200px 200px !important;
}

.cls-img-profile-null {
  
  color: rgb(85, 87, 90);
  font-size: 35px;
  font-weight: bold;
  margin-left: -8px;
}